<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>





<form method="post" action="/poslana_sporocila">


        <div class="jumbotron">
        <h1>Dragi {{ uporabnik.ime }}</h1> # preveri ID#
         <p>Dobrodošel v Bmail</p>
         <p> Bmail - komunikacija s svetom je sedaj enostavnejša.</p>
        </div>

    <div class="poslanas">
        <p><a href="/poslana_sporocila">Seznam poslanih sporocil</a>
            </p>

    </div>



    <div class="prejetas">
        <p><a href="/prejeta_sporocila">Seznam prejetih sporocil</a>
            </p>

    </div>

 <div class="idprejemnika>
              <span class="input-group-addon" id="basic-addon1"><h4>E-naslov: </h4></span>
                <input type="email" name = "idprejemnika" class="form-control" placeholder="vpišite e-pošto prejemnika" aria-describedby="basic-addon1">
            </div>

        <br>
        <br>

        <div class="zadeva">
            <span class="input-group-addon" id="basic-addon1"><h4>Naslov zadeve</h4></span>
        <input type="text" name="zadeva" class="form-control" placeholder="vpiši zadevo" aria-describedby="basic-addon1">
        </div>


        <br>
        <br>




        <br>
        <br>

          <div class="vsebina">
              <span class="input-group-addon" id="basic-addon1"><h4>Vsebina</h4></span>
                <input type="text" name = "vsebina" class="form-control" placeholder="vpišite svoje sporočilo" aria-describedby="basic-addon1">
            </div>
        <br>
        <br>


                    <div class="gumb1">
                    <p>
            <button type="submit" >Pošlji</button>
                    </p>
                    </div>
        </div>




</body>
</html>