<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>BMAIL</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/assets/css/style.css">


</head>
<body>

<div class="container">
<div class="jumbotron">
  <h1>Živjo!</h1>
 <p>Tukaj lahko pošiljaš in sprejemaš sporočila ter pregleduješ svoja prejeta in poslana sporočila</p>
</div>
    </div>
{% if logiran %}
<div class="container">    
    <form action="/" method="post">
    <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Zadeva:</span>
    <input type="text" class="form-control" placeholder="Zadeva" aria-describedby="basic-addon1">
    </div> 
    
     <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Vsebina</span>
    <input type="text" class="form-control" placeholder="vsebina" rows="500" aria-describedby="basic-addon1">
        
    
    </div> 
    <br>
    <button type="submit">Submit</button>
        
            <div class="poslanas">
        <p><a href="/prikazi_vsa_sporocila">Seznam poslanih sporocil</a>
            </p>

    </div>



    <div class="prejetas">
        <p><a href="/prikazi_vsa_sporocila">Seznam prejetih sporocil</a>
            </p>

    </div>    
    
    </form>  
    </div>  
    {% else %}
    <div class="log">
        <div class="container">
            <p>Če želiš uporabljati Bmail se prosim <a href="/login">logiraj tu.</a></p> 
                <p>Če uporabniškega računa še nimaš,
                se <a href="/registracija">registriraj.</a> </p>
        </div>
        </div>    
    <br><br>
    <div class="container">
    <p>Če te zanima vreme v Londonu, ga najdeš <a href="/vreme"> tu.</a></p>
    </div>
    {% endif %}

</body>

</html>