<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="jumbotron">
        <a href="/">Domov</a> | <a href="/registracija">Registracija</a>

        <h1>Login / prijava uporabnika</h1>

        <form action="/login" method="post">
            <input placeholder="Vnesi svoj email" name="email" type="email"> <br>
            <input placeholder="Vnesi svoje geslo" name="geslo" type="password"> <br>

            <button type="submit">Logiraj se</button>
        </form>
    </div>>
</body>
</html>