<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/assets/css/style.css">
    
</head>
<body>

<div class="container">
    <h1>Pregled posameznih sporočil</h1>
        <br>

        <br>


   <div class="idprejemnika">
        <span >ZA: {{ sporocilo.idprejemnika }}
        </span>
    </div>


    <div class="zadeva">
        <span class="input-group-addon" id="basic-addon1" position="center"><h6><b> {{ sporocilo.zadeva }} </b></h6>
        </span>
    </div>

            <br>


   <div class="vsebina">
        <span class="input-group-addon" id="basic-addon1" position="center"><h6><b> {{ sporocilo.vsebina }} </b></h6>
        </span>
    </div>


            <br>


  <div class="ustvarjeno">
        <span >Ustvarjeno: {{ sporocilo.ustvarjeno }}
        </span>
    </div>

            <br>
    
    <div class="container">
    <div class="gumb5">
    <p><button><a href="/sporocilo/{{ sporocilo.key.id() }}/uredi">Uredi sporocilo</a></button></p>
    </div>
    <br>
    <div class="gumb6">
    <p><button><a href="/sporocilo/{{ sporocilo.key.id() }}/izbrisi">Izbrisi sporocilo</a></button></p>
    </div>
    <br>

    <div class="gumb7">
    <p><button><a href="/prikazi_vsa_sporocila">Prikazi vsa sporocila</a></button></p>
    </div>

    </div>  
    </div>
</body>
</html>