<!DOCTYPE html>
<html lang="en">
    
    
<head>
    <meta charset="UTF-8">
    <title>BMAIL</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/assets/css/style.css">
    

</head>


 <body>   

<div class="container">
    
    <div class="jumbotron1">
        <h3>Registracija novega uporabnika</h3>
    </div>
    
<form action="/registracija" method="post">

    
    <div class="form-group">
    <label for="Janez_Novak">Ime</label>
    <input type="text" name="ime" class="form-control" id="exampleInputname" placeholder="Janez Novak">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="janez.novak@example.com">
  </div>
          <div class="form-group">
    <label for="exampleInputName2">Geslo</label>
    <input type="password" class="form-control" id="xxr2332" placeholder="vpiši geslo" name="geslo" >
  </div>
    
              <div class="form-group">
    <label for="exampleInputName2">Ponovi geslo</label>
    <input type="password" class="form-control" id="xxr2332" placeholder="vpiši ponovno svoje  geslo" name="ponovno_geslo" >
  </div>
  <button type="submit" class="btn btn-default" >Registriraj  me</button>

</form>


    </div>
</body>




      
</html>    